@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
	font-family: 'Lato', sans-serif;
	background-color: #99e6ff;
}
h1{
	text-align: center;
	font-size: 50px;
}

main{
	max-width: 1100px;
	margin: 0 auto;
	padding: 10px;
}
.logo img{
	max-width: 110px;
}
.resume{
	margin: 30px auto;
	border: 1px solid white;
	box-shadow: 2px 2px 2px gray;
	padding: 30px 5%;
	max-width: 800px;
}
.resume-content{
	border-left: 6px solid lightgray;
	padding-left: 20px;
}
.example{
	box-shadow: 2px 2px 2px gray;
	margin: 10px;
}
footer{
	text-align: center;
	border-top: 1px solid gray;
	clear: both;
	background-color: rebeccapurple;
	color: darkgoldenrod;
	display: block;
	margin: 40px 0 0 0;
}
.footer1000{
	width: 100%;
}
.footer-bottom{
	background-color: black;
	padding: 10px 0 0 0;
	color: darkgoldenrod;
	text-align: center;
	width: 100%;
}
h2{
	font-size: 25px;
	color: darkgoldenrod;
}
.row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
nav{
	background-color: rebeccapurple;
	border-top: 5px solid gold;
	border-bottom: 5px solid gold;
	padding-top: 10px;
}
.profile{
	min-height: 300px;
	background-image: url(images/curtains.jpg);
	background-size: cover;
	padding-top: 20px;
	color: white;
	text-shadow: 1px 1px 0 white;
}
.photo-sp{
	margin-top: 80px;
}
.img-fluid{
	max-width: 100%;
	height: auto;
}
img{
	vertical-align: middle;
	border-style: none;
}
.fa{
	color: darkgoldenrod;
}
.profile img{
	margin: 0 auto;
	display: block;
	border-radius: 80%;
	border: darkgoldenrod solid 8px;
}
.gallery .preview{
	width: 100%;
	height: auto;
}
.gallery .gallery-thumbnails img{
	width: 180px;
	margin: 3px 10px 10px 0;
	max-width: 100%;
	height: auto;
}
.gallery .gallery-thumbnails img:hover{
	opacity: .8;
	cursor: pointer;
}
.gallery .preview img#preview{
	padding: 1px;
	max-width: 100%;
	height: auto;
	margin: 0 auto !important;
	display: block !important;
}
.img-fluid img:hover {
	opacity: .8;
	cursor: pointer;
}
nav ul{
	list-style-type: none;
	text-align: center;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: gold;
}
nav a:visited{
	color: gold;
}
nav a:hover{
	color: darkgrey;
}
nav a:active{
	color: red;
}
.logo{
	margin: 0 auto;
	display: block;
}

	/*For Tablets*/
@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
	}
}

	/* For Smartphones*/
@media only screen and (max-width: 769px){
	h1{
		font-size: 1.5em;
	}
}
.mobile{
	display:none;
}
@media only screen and (max-width: 768px){
	.desktop{
		display:none;
	}
	.mobile{
		display: block;
		touch-action: manipulation;
	}
}
canvas{
	margin: 0 auto;
	display: block;
	background-image: url(images/trees.jpg);
	border: 3px solid gold;
	box-shadow: 2px 2px 6px black;
}
button{
	font-size: 30px;
	color: gold;
	background-color: rebeccapurple;
}
.game-controls{
	text-align: center;
	margin-top: 20px;
}
td, th{
	padding: 10px;
	border: 1px solid black;
	line-height: 2;
}
th{
	background-color: skyblue;
}
label{
	float: left;
	width: 8em;
	padding-right: 1em;
}
input, textarea{
	margin-bottom: 1em;
	display: block;
}
input[type=submit]{
	display: block;
	background-color: lightgray;
}
if window.innerWidth < 768{
	canvasWidth = 300;
	canvasHeight= 300;
}

form{
	background-color: lightblue;
	border: 1px solid black;
	max-width: 350px;
	margin: auto;
	box-shadow: 2px 2px 2px gray;
	padding: 20px 10px;
}
.maps{

    overflow:hidden;

    padding-bottom:56.25%;

    position:relative;

    height:0;
}

.maps iframe{

    left:0;

    top:0;

    height:100%;

    width:100%;

    position:absolute;
}
.about ul{
	overflow: hidden;
}