@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
	font-family: 'Lato', sans-serif;
	background-color: #010436;
	color: #bcc2d4;
	font-family: 'Source Sans Pro'. sans-serif;
	margin: 0;
}
h1{
	text-align: center;
	font-size: 50px;
}
main{
	max-width: 900px;
	margin: 0 auto;
}
footer{
	text-align: center;
	border-top: 1px solid gray;
	padding: 10px;
	background-color: #1c4a48;
	max-width: 100%;
}
.footer{
	max-width: 100%;
}
footer a:link{
	color: #bcc2d4;
}
h2{
	font-size: 25px;
	color: blue;
}
.gallery .preview{
    width:100%
    height:auto;
}

.gallery .gallery-thumbnails img {
    width:100px;
    height:75px;
    margin: 3px 10px 10px 0;
}

.gallery .gallery-thumbnails img:hover {
    opacity: .8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
}

    /*Nav Stuff*/
nav{
	background-color: #1c4a48;
	border-top: 5px solid darkblue;
	border-bottom: 5px solid darkblue;
}
nav ul{
	list-style-type: none;
	margin: 12px;
	text-align: center;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 10px;
}
nav a:link{
	color: #bcc2d4;
}
nav a:visited{
	color: purple;
}
nav a:hover{
	color: darkgrey;
}
nav a:active{
	color: red;
}
i.fa{
	color: #3f225e;
	font-size: 5em;
}

	/*For Tablets*/
@media only screen and (max-width: 1024px){
	h1{
		font-size: 2em;
	}
}

	/* For Smartphones*/
@media only screen and (max-width: 769px){
	h1{
		font-size: 1.5em;
	}
}